[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
    url = https://github.com/riscv/riscv-gnu-toolchain
